<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game One</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="flex-row flex-wrap">
        {{!-- <div class="col-4-8 col-4-12-lg bg1 height100"></div>
        <div class="col-4-8 col-4-12-lg bg2 height100"></div>
        <div class="col-4-8 col-4-12-lg bg3 height100"></div>
        <div class="col-4-8 col-4-12-lg bg4 height100"></div>
        <div class="col-4-8 col-4-12-lg bg5 height100"></div>
        <div class="col-4-8 col-4-12-lg bg6 height100"></div> --}}
    </div>
    <main>
        {{{ body }}}
    </main>
</body>
</html>