<div class="flex-column align-items-center">
    <div class="col-10-12">
        {{> svg-window }}
    </div>
    {{!-- <div class="flex-row col-10-12 flex-wrap justify-content-evenly">
        <div class="col-5-12 flex-column align-items-center">
            <h3>Change Increment</h3>
            <input type="number" step="1" min="1" id="cameraIncrement" value="1"/>
        </div>
        <div class="col-5-12 flex-column align-items-center">
            <button class="col-4-8" id="cameraUp">&uArr;</button>
            <div class="flex-row col-8-8">
                <button class="col-4-8" id="cameraLeft">&lArr;;</button>
                <button class="col-4-8" id="cameraRight">&rArr;</button>
            </div>
            <button class="col-4-8" id="cameraDown">&dArr;</button>
        </div>
    </div> --}}
</div>
<script src="/javascript/test-projectiles.js"></script>
<script src="/javascript/test-enemies.js"></script>
<script src="/javascript/test-obstacles.js"></script>
<script src="/javascript/test-sprites.js"></script>
<script src="/javascript/test-ground.js"></script>